pre {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.json-key {
  color: #d14;
}

.json-value {
  color: #0086b3;
}