---
---

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px auto;

    @include large {
        gap: 4rem;
    }

    @include medium {
        gap: 3rem;
    }
    
    @include small {
        gap: 2rem;
    }

    img {
        height: 8rem;
        width: auto;
        max-width: 100%;
        object-fit: contain;

        @include large {
            height: 120px;
        }

        @include medium {
            height: 90px;
        }

        @include small {
            height: 60px;
        }
    }
}