---
---

@import 'jekyll-theme-cayman';


.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    @include large {
        gap: 5rem;
    }

    @include medium {
        gap: 4rem;
    }
    
    @include small {
        gap: 3rem;
    }

    img {
        width: auto;
        max-width: 100%;
        object-fit: contain;

        @include large {
            height: 60px;
        }

        @include medium {
            height: 45px;
        }

        @include small {
            height: 30px;
        }
    }
}